header {
    background-color: #000;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.header-logo {
    font-size: 1.5rem;
    padding: 1.2rem;
}
// .button-container {
//     // border: 1px solid red;
// }
.logout-btn {
    float: right;
    margin: .9rem;
    width: 4.5rem;
    height: 1.35rem;

    &:hover {
        cursor: pointer;
    }
}