@import "variables";

#MediaDials {
    height: 3.5rem;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 78%;
    margin: 0 auto;
}
.song-description {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .song-duration {
        color: $RedOrangeDim;
        margin-top: .25rem;
        font-weight: lighter;
    }
}
.arrow {
    padding: 0 1rem 0 1rem;
}
.rewind-btn {
    transform: rotate(180deg);
}
.dial-container {
    display: flex;
    margin-right: 2rem;
}
.dial {
    width: 2rem;
    &:hover {
        cursor: pointer;
    }
}