@import "variables";

#section-2 {
    display: flex;
    flex-direction: column;
    max-width: 70rem;
    margin: 0 auto;
    font-family: $Roboto;

    @media(min-width: 900px) {
        flex-direction: row;
        padding: 2rem;
        padding-top: 0;
        padding-left: 3rem;
        width: 80%;
    }
}
.body-two {
    width: 100%;
    @media(min-width: 900px) {
        margin-top: 4.5rem;
    }
}
#user-info {
    text-align: center;
    height: 20rem;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1rem;
    margin-top: 4.5rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    @media(min-width: 900px) {
        width: 15rem;;
        padding: 1rem;
        top: 1rem;
    }
}
.profile-picture {
    min-width: 10rem;
    border-radius: 50%;
    margin: 1rem;
}
// #file-uploader {   
//     opacity: 0;
//     position: absolute;
//     z-index: -1;
// }
#browse-btn {
    cursor: pointer;
    width: 80%;
    margin: 0 auto;
    padding: .7rem;
    &:hover {
        border: 4px solid $Char;
        cursor: pointer;
    }
}