#section-2 {
    display: flex;
    flex-direction: column;
}
.user-info {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 21rem;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: .5rem;
    // border: 1px solid red;
}
.user-name {
    // margin: 2rem;
    padding-top: 1.5rem;
    height: 2rem;
    // border: 1px solid red;
}
.profile-picture {
    min-width: 10rem;
    border-radius: 50%;
    margin: 1rem;
    // border: 1px solid red;
}