@import 'variables';

.panel-landing {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.landing-heading {
    font-size: 2.5rem;
}
.sign-in-btn {
    background-color: $Black;
    font-family: $Roboto;
    margin: 5rem;
    width: 15rem;

    &:hover {
        border: 1px solid grey;
        transition: .25s ease-in-out;
    }
}