@import url(https://fonts.googleapis.com/css?family=Oswald|Roboto&display=swap);

// FONTS
$Roboto: 'Roboto', sans-serif;

// Light
$White: rgba(255, 255, 255, 0.884);
$OffWhite: rgb(231, 231, 231);
$CharLight: rgb(122, 122, 122);

// Dark
$Black: #000;
$BlackOp: rgb(17, 17, 17);
$CharDark: rgb(46, 46, 46);
$Char: rgb(58, 58, 58);

// Color
$RedOrange: rgb(253, 74, 74);
$RedOrangeDim: rgba(253, 74, 74, 0.5);