@import url(https://fonts.googleapis.com/css?family=Oswald|Roboto&display=swap);

// FONTS
$Roboto: 'Roboto', sans-serif;

// COLORS
$RedOrange: rgb(253, 74, 74);
$RedOrangeDim: rgba(253, 74, 74, 0.5);